<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <title>Daber Engine</title>
    <link rel="stylesheet" href="./stylesheet/style.css">
  </head>
  <body>
    <div class="main">
      <div class="objectRender">

      </div>
      <div class="leftPanel">

      </div>
      <div class="rightPanel">

      </div>
      <div class="bottomPanel" >

      </div>

      <div class="objectGUI" id="tools_data">
      </div>

      <div class="objectGUI" id="box">
      </div>

      <div class="objectGUI" id="tools">
      </div>


    </div>
    <div id="header" draggable="false"></div>
    <div id="menu">
        <button id="close"></button>
        <button id="maximize"></button>
        <button id="minimize"></button>
    </div>
    <script type="text/javascript" src="./javascript/three.js"></script>
   	<script type="text/javascript" src="./javascript/OrbitControls.js"></script>
    <script type="text/javascript" src="./javascript/ui_layout.js"></script>
  </body>
</html>
